.container{
    height:500px;
    width:300px;
    display: flex;
    border:10px;
    border-radius: 2px;
    margin-right: 100px;
    line-height-step:50px;
    }
*{
    text-decoration: none;
    margin-left: 10px;
    padding-top: 10px;
   }
   body{
    background-color:hsla(180, 13%, 58%, 1);

    background: linear-gradient(90deg, hsla(180, 13%, 58%, 1) 0%, hsla(335, 16%, 61%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(180, 13%, 58%, 1) 0%, hsla(335, 16%, 61%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(180, 13%, 58%, 1) 0%, hsla(335, 16%, 61%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#87A3A3", endColorstr="#AC8D9A", GradientType=1 );
    
   }
fieldset{
    height:400px;
    width:700px;
    margin:auto;
    display: inline-block;
    background-color:background: hsla(40, 94%, 74%, 1);

    background: linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FBD07C", endColorstr="#F7F779", GradientType=1 );
} 
input{
    
    background-color:whitesmoke; 
    margin-left: 25px;
    text-decoration-color:chocolate;
    padding:40px; 
    border-radius: 40px;
    padding-bottom: 5px;
    padding-top: 5px;
} 

p4{
    text-decoration-line: underline ;
    text-decoration-color: chocolate;
}
.checkbox{
    display: flex;
    justify-content: center;
    margin-right: 200px;
}
h2{
    font-style: italic;
}
a{
    font-size:larger;
}
.login{
    height: 15px;
    width: 180px;
    background-color:rgb(71, 98, 235); 
    margin-left: 30px;
    padding:10px 30px; 
    border-radius: 50px;
}
login:hover{
    background-color: rgb(236, 146, 61);
}
SocialMedia:hover{
    background-color: rgb(236, 146, 61);
}
input:focus{
    border-color: chocolate;
}

